<li class="scene-control sr3dr-scene-control" data-control="sr3-dice-roller" title="SR3 Dice Roller">
    <i class="fas fa-dice-d6" id="toggleButton"></i>

    <ol class="control-tools">
        <div id="SDRpopup" class="sr3-dice-roller-popup" style="display: none;">
            <textarea class="num-dice-input sr3-roll-input" type="text" name="num-dice-input" placeholder="Number of Dice" cols="150"></textarea>
            <textarea class="tn-input sr3-roll-input" type="text" name="tn-input" placeholder="Target Number" cols="150"></textarea>
            <div class="dice-calculator__roll sr3-roll-button">roll</div>
        </div>
    </ol>
</li>
