<div class="roll-info">
Rolled {{numDice}}d6 versus {{tN}}:
</div>
<div class="dicelist">
  {{#each diceData}}
    {{#if isSuccess}}
    <div class="success dice-single">{{diceVal}}</div>
    {{else}}
    <div class="notsuccess dice-single">{{diceVal}}</div>
    {{/if}}
  {{/each}}
</div>
<div class="roll-result">
{{numSuccesses}} successes.
</div>
