.sr3-dice-roller-popup{

    width: 150px;
    background-color: #F0F8FF;
    padding: 10px;
    border-radius: 5px;

}

.sr3-roll-input{
    resize: none;
}

.sr3-roll-button{

    background-color: #4682B4;
    border-radius: 5px;
}

.dicelist
{
    display: flex;
    flex-wrap: wrap;
}

.dice-single
{

    margin: 2px;
    padding: 2px;

    text-align: center;
    border-radius: 5px;
    width:25px;
    height: 25px;
    border-width: thin;
    border-style: solid;

}

.success
{
    background-color: #cdfcca;
    border-color: #325430;
    color: black;
}

.notsuccess
{
    background-color: #DCDCDC;
    color: #808080;
    border-color: #808080;
}

.roll-result
{
 font-size: 20px;
  font-weight: bold;
}

.control-icon-d6
{

display: inline-block;
font-family: "dicefont";
font-style: normal;
font-weight: normal;
font-variant: normal;
line-height: 1;
text-decoration: inherit;
text-rendering: optimizeLegibility;
text-transform: none;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;

content: "\f188";

}
